<div class="armor-card item-card">
    <div class="item-name" data-item-id="{{_id}}">
        <a class="item-edit" data-skill="{{data.skill}}">{{name}}</a>
        {{data.qualities}}<a class="item-delete"><i class="fas fa-trash"></i></a>
    </div>
</div>