<option value="combat">Combat</option>
<option value="brawn">Brawn</option>
<option value="agility">Agility</option>
<option value="perception">Perception</option>
<option value="intelligence">Intelligence</option>
<option value="willpower">Willpower</option>
<option value="fellowship">Fellowship</option>