
                        <option value="combat.bonus">Combat</option>
                        <option value="brawn.bonus">Brawn</option>
                        <option value="agility.bonus">Agility</option>
                        <option value="perception.bonus">Perception</option>
                        <option value="intelligence.bonus">Intelligence</option>
                        <option value="willpower.bonus">Willpower</option>
                        <option value="fellowship.bonus">Fellowship</option>