    <div class="condition-card item-card">
    <div class="item-name" data-item-id="{{_id}}">
        {{name}} - {{data.description}}
        <a class="item-edit"><i class="fas fa-edit"></i></a><a class="item-delete"><i class="fas fa-trash"></i></a>
    </div>
</div>