<div class="description-card">
    <div class="item-name" data-item-id="{{_id}}">
        {{#if (eq type "Profession")}}
        {{#if (gt data.trait1.name.length 0)}}
        <strong>{{data.trait1.name}}</strong> - {{data.trait1.description}}<br/>
        {{/if}}
        {{#if (gt data.drawback1.name.length 0)}}
        <strong>{{data.drawback1.name}}</strong> - {{data.drawback1.description}}
        {{/if}}
        {{/if}}
        {{#if (eq type "Condition")}}
        <strong>{{name}}</strong> - {{data.description}}
        {{/if}}
        {{#if (eq type "Talent")}}
        <strong>{{name}}</strong> - {{data.description}}
        {{/if}}
    
    </div>
</div>