{{#if (gt data.alignment.orderranks 9)}}<i class="far fa-dot-circle order-reduce" data-ranks="10"></i>{{else}}<i class="far fa-circle order-increase" data-ranks="10"></i>{{/if}}
{{#if (gt data.alignment.orderranks 8)}}<i class="far fa-dot-circle order-reduce" data-ranks="9"></i>{{else}}<i class="far fa-circle order-increase" data-ranks="9"></i>{{/if}}
{{#if (gt data.alignment.orderranks 7)}}<i class="far fa-dot-circle order-reduce" data-ranks="8"></i>{{else}}<i class="far fa-circle order-increase" data-ranks="8"></i>{{/if}}
{{#if (gt data.alignment.orderranks 6)}}<i class="far fa-dot-circle order-reduce" data-ranks="7"></i>{{else}}<i class="far fa-circle order-increase" data-ranks="7"></i>{{/if}}
{{#if (gt data.alignment.orderranks 5)}}<i class="far fa-dot-circle order-reduce" data-ranks="6"></i>{{else}}<i class="far fa-circle order-increase" data-ranks="6"></i>{{/if}}
{{#if (gt data.alignment.orderranks 4)}}<i class="far fa-dot-circle order-reduce" data-ranks="5"></i>{{else}}<i class="far fa-circle order-increase" data-ranks="5"></i>{{/if}}
{{#if (gt data.alignment.orderranks 3)}}<i class="far fa-dot-circle order-reduce" data-ranks="4"></i>{{else}}<i class="far fa-circle order-increase" data-ranks="4"></i>{{/if}}
{{#if (gt data.alignment.orderranks 2)}}<i class="far fa-dot-circle order-reduce" data-ranks="3"></i>{{else}}<i class="far fa-circle order-increase" data-ranks="3"></i>{{/if}}
{{#if (gt data.alignment.orderranks 1)}}<i class="far fa-dot-circle order-reduce" data-ranks="2"></i>{{else}}<i class="far fa-circle order-increase" data-ranks="2"></i>{{/if}}
{{#if (gt data.alignment.orderranks 0)}}<i class="far fa-dot-circle order-reduce" data-ranks="1"></i>{{else}}<i class="far fa-circle order-increase" data-ranks="1"></i>{{/if}}
<i style="color: red" class="far fa-times-circle order-reduce" data-ranks="0"></i>