<div class="profession-card item-card">
    <div class="item-name" data-item-id="{{_id}}">
        <a class="item-edit">{{name}}</a><a class="profession-delete"><i class="fas fa-trash"></i></a>
        <a class="item-edit">Click Here to Advance Character</a>
    </div>
</div>