                        
                        <option value="Alchemy">Alchemy*</option>
                        <option value="Athletics">Athletics</option>
                        <option value="Awareness">Awareness</option>
                        <option value="Bargain">Bargain</option>
                        <option value="Charm">Charm</option>
                        <option value="Coordination">Coordination</option>
                        <option value="Counterfeit">Counterfeit*</option>
                        <option value="Disguise">Disguise*</option>
                        <option value="Drive">Drive*</option>
                        <option value="Eavesdrop">Eavesdrop</option>
                        <option value="Education">Education*</option>
                        <option value="Folklore">Folklore</option>
                        <option value="Gamble">Gamble</option>
                        <option value="Guile">Guile</option>
                        <option value="Handle Animal">Handle Animal*</option>
                        <option value="Heal">Heal*</option>
                        <option value="Incantation">Incantation*</option>
                        <option value="Interrogation">Interrogation*</option>
                        <option value="Intimidate">Intimidate</option>
                        <option value="Leadership">Leadership*</option>
                        <option value="Martial Melee">Martial Melee*</option>
                        <option value="Martial Ranged">Martial Ranged*</option>
                        <option value="Navigation">Navigation*</option>
                        <option value="Pilot">Pilot*</option>
                        <option value="Resolve">Resolve</option>
                        <option value="Ride">Ride*</option>
                        <option value="Rumor">Rumor</option>
                        <option value="Rcrutinize">Scrutinize</option>
                        <option value="Simple Melee">Simple Melee</option>
                        <option value="Simple Ranged">Simple Ranged</option>
                        <option value="Skullduggery">Skullduggery*</option>
                        <option value="Stealth">Stealth</option>
                        <option value="Survival">Survival</option>
                        <option value="Toughness">Toughness</option>
                        <option value="Tradecraft">Tradecraft*</option>
                        <option value="Warfare">Warfare*</option>
                        