<div class="weapon-card item-card">
    <div class="item-name" data-item-id="{{_id}}">
        <a class="attack-roll" data-skill="{{data.skill}}" data-type="basic" data-att="combat">{{name}}</a>
        <a class="damage-roll" >{{data.damage}}</a>
        {{data.qualities}}<a class="item-edit"><i class="fas fa-edit"></i></a><a class="item-delete"><i class="fas fa-trash"></i></a>
    <div class="main-tab">
    </div>
    </div>
</div>
