<form class="item-sheet {{cssClass}}" autocomplete="off">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h3 id="Name" class="charname">Name <input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h3>
<div class="main-tab">
    <div>Armor Value: <input class="short-input" type="number" name="data.armorvalue" value="{{data.armorvalue}}" /></div>
    <div>Qualities: <input type="text" name="data.qualities" value="{{data.qualities}}" /></div>
    </div>
</form>