<form class="item-sheet {{cssClass}}" autocomplete="off">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h3 id="Name" class="charname">Name <input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h3>
<div class="main-tab">
    <div><select name="data.conditiontype" value="{{data.conditiontype}}">{{#select data.conditiontype}}
        <option value="condition">Condition</option>
        <option value="disease" >Disease</option>
        <option value="disease" >Drawback</option>
        <option value="disorder">Disorder</option>
        <option value="injury">Injury</option>
        <option value="mutation">Mutation</option>
        <option value="quality">Quality</option>
        {{/select}}</select>
        </div>
    <div>Description<input type="text" name="data.description" value="{{data.description}}" /></div>
    </div>
</form>