<form class="item-sheet {{cssClass}}" autocomplete="off">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h3 id="Name" class="charname">Name <input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h3>
<div class="main-tab">
    <div>Skill<select name="data.skill" value="{{data.skill}}" {{#select data.skill}}>
                {{> 'systems/flames/templates/partials/skill-list-displayable.hbs'}}
                {{/select}}</select>
    </div>
    </div>
</form>