<form class="actor-sheet {{cssClass}}" autocomplete="off">
        <img src="systems/flames/assets/ZweihanderLogo.png"><img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <div class="npc-attribute-block">
            <div>Combat: <input name="data.attributes.combat.value" value="{{data.attributes.combat.value}}" />Bonus: <input name="data.attributes.combat.bonus" value="{{data.attributes.combat.bonus}}" /></div>
            <div>Brawn: <input name="data.attributes.brawn.value" value="{{data.attributes.brawn.value}}" />Bonus: <input name="data.attributes.brawn.bonus" value="{{data.attributes.brawn.bonus}}" /></div>
            <div>Agility: <input name="data.attributes.agility.value" value="{{data.attributes.agility.value}}" />Bonus: <input name="data.attributes.agility.bonus" value="{{data.attributes.agility.bonus}}" /></div>
            <div>Perception: <input name="data.attributes.perception.value" value="{{data.attributes.perception.value}}" />Bonus: <input name="data.attributes.perception.bonus" value="{{data.attributes.perception.bonus}}" /></div>
            <div>Intelligence: <input name="data.attributes.intelligence.value" value="{{data.attributes.intelligence.value}}" />Bonus: <input name="data.attributes.intelligence.bonus" value="{{data.attributes.intelligence.bonus}}" /></div>
            <div>Willpower: <input name="data.attributes.willpower.value" value="{{data.attributes.willpower.value}}" />Bonus: <input name="data.attributes.willpower.bonus" value="{{data.attributes.willpower.bonus}}" /></div>
            <div>Fellowship: <input name="data.attributes.fellowship.value" value="{{data.attributes.fellowship.value}}" />Bonus: <input name="data.attributes.fellowship.bonus" value="{{data.attributes.fellowship.bonus}}" /></div>
        </div>
        <div class="npc-skill-section">
            <div class="npc-skill-menu">

            {{#each data.skills.combat}}
                    <div><a class="skill-roll" data-att="combat" data-skill="{{@key}}" data-type={{lookup (lookup @root.skillNames @key) "skilltype"}}>{{#if (gt this 0)}}<strong>{{/if}}{{lookup (lookup @root.skillNames @key) "displayname"}}{{#if (gt this 0)}}</strong>{{/if}}</a></div>
                    <div><input class="single-input" name="data.skills.combat.{{@key}}" value="{{this}}" /></div>
            {{/each}}
            </div>

            <div class="npc-skill-menu">
            {{#each data.skills.brawn}}
                <div><a class="skill-roll" data-att="brawn" data-skill="{{@key}}" data-type={{lookup (lookup @root.skillNames @key) "skilltype"}}>{{#if (gt this 0)}}<strong>{{/if}}{{lookup (lookup @root.skillNames @key) "displayname"}}{{#if (gt this 0)}}</strong>{{/if}}</a></div>
                <div><input class="single-input" name="data.skills.brawn.{{@key}}" value="{{this}}" /></div>

            {{/each}}
            </div>

            <div class="npc-skill-menu">
            {{#each data.skills.agility}}
                <div><a class="skill-roll" data-att="agility" data-skill="{{@key}}" data-type={{lookup (lookup @root.skillNames @key) "skilltype"}}>{{#if (gt this 0)}}<strong>{{/if}}{{lookup (lookup @root.skillNames @key) "displayname"}}{{#if (gt this 0)}}</strong>{{/if}}</a></div>
                <div><input class="single-input" name="data.skills.agility.{{@key}}" value="{{this}}" /></div>

            {{/each}}
            </div>
            <div class="npc-skill-menu">
            {{#each data.skills.perception}}
                <div><a class="skill-roll" data-att="perception" data-skill="{{@key}}" data-type={{lookup (lookup @root.skillNames @key) "skilltype"}}>{{#if (gt this 0)}}<strong>{{/if}}{{lookup (lookup @root.skillNames @key) "displayname"}}{{#if (gt this 0)}}</strong>{{/if}}</a></div>
                <div><input class="single-input" name="data.skills.perception.{{@key}}" value="{{this}}" /></div>

            {{/each}}
            </div>
            <div class="npc-skill-menu">
            {{#each data.skills.intelligence}}
                <div><a class="skill-roll" data-att="intelligence" data-skill="{{@key}}" data-type={{lookup (lookup @root.skillNames @key) "skilltype"}}>{{#if (gt this 0)}}<strong>{{/if}}{{lookup (lookup @root.skillNames @key) "displayname"}}{{#if (gt this 0)}}</strong>{{/if}}</a></div>
                <div><input class="single-input" name="data.skills.intelligence.{{@key}}" value="{{this}}" /></div>

            {{/each}}
            </div>
            <div class="npc-skill-menu">
            {{#each data.skills.willpower}}
                <div><a class="skill-roll" data-att="willpower" data-skill="{{@key}}" data-type={{lookup (lookup @root.skillNames @key) "skilltype"}}>{{#if (gt this 0)}}<strong>{{/if}}{{lookup (lookup @root.skillNames @key) "displayname"}}{{#if (gt this 0)}}</strong>{{/if}}</a></div>
                <div><input class="single-input" name="data.skills.willpower.{{@key}}" value="{{this}}" /></div>

            {{/each}}
            </div>
            <div class="npc-skill-menu">
            {{#each data.skills.fellowship}}
                <div><a class="skill-roll" data-att="fellowship" data-skill="{{@key}}" data-type={{lookup (lookup @root.skillNames @key) "skilltype"}}>{{#if (gt this 0)}}<strong>{{/if}}{{lookup (lookup @root.skillNames @key) "displayname"}}{{#if (gt this 0)}}</strong>{{/if}}</a></div>
                <div><input class="single-input" name="data.skills.fellowship.{{@key}}" value="{{this}}" /></div>

            {{/each}}
            </div>
        </div>
        <div class="npc-combat-stats">
             <div class="peril-display">
            <span class="peril-display">Peril Threshold: <input name="data.perilthreshold" value="{{data.perilthreshold}}" readonly /></span>
            <span class="peril-display"><input name="data.perilthreshold2" value="{{data.perilthreshold2}}" readonly /></span>
            <span class="peril-display"><input name="data.perilthreshold3" value="{{data.perilthreshold3}}" readonly /></span>
            <span class="peril-display"><input name="data.perilthreshold4" value="{{data.perilthreshold4}}" readonly /></span></div>
            <div class="form-group">
                <label>Peril</label>
                <div class="form-peril">
                  {{radioBoxes "data.peril.value" perilchoices checked=data.peril.value}}
                </div>
            </div>
            <div class="wound-display">
            <span class="wound-display">Wound Threshold: <input name="data.woundthreshold" value="{{data.woundthreshold}}" readonly /></span>
            <span class="wound-display"><input name="data.woundthreshold2" value="{{data.woundthreshold2}}" readonly /></span>
            <span class="wound-display"><input name="data.woundthreshold3" value="{{data.woundthreshold3}}" readonly /></span>
            <span class="wound-display"><input name="data.woundthreshold4" value="{{data.woundthreshold4}}" readonly /></span></div>
            Initiative: <input class=" short-input" name="data.initiative" value="{{data.initiative}}" readonly/>
            Movement: <input class=" short-input" name="data.movement" value="{{data.movement}}" readonly/>
             <div class="form-group">
                <label>Damage</label>
                <div class="form-damage">
                  {{radioBoxes "data.damage.value" damagechoices checked=data.damage.value}}
                </div>
            </div>

            <div class="weapon-section">
            <h1 class="cell__title">
              <label>Weapons</label>
              <button type="button" class="item-control item-create" data-type="Weapon">
                <i class="fas fa-plus"></i>
              </button>
            </h1>
            {{#each weapons as |weapon id|}}
                {{> "systems/flames/templates/partials/weapon-card.hbs" weapon}}
                {{/each}}

            </div>
            <div class="condition-section">
            <h1>Conditions</h1>
            {{#each conditions as |condition id|}}
                {{> "systems/flames/templates/partials/condition-card.hbs" condition}}
                {{/each}}

            </div>

        </div>
</form>
