<form class="item-sheet {{cssClass}}" autocomplete="off">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h3 id="Name" class="charname">Profession Name <input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h3>
<div class="profession-card item-card">
    <div class="item-name" data-item-id="{{_id}}">
        <a class="item-edit">{{name}}</a><a class="profession-delete"><i class="fas fa-trash"></i></a>RP Spent: <input class="short-input" type="number" name="data.rpspent" value="{{data.rpspent}}" />
        Current?<input type="checkbox" name="data.current" {{checked data.current}} />
        <div class="profession-info">
        <div class="profession-column">
                <div class="profession-skill">
                <input type="checkbox" name="data.skill1.skillpurchased" {{checked data.skill1.skillpurchased}} disabled />
                Skill:
                <a class="decrease-skill" data-number="skill1" data-skill="{{data.skill1.skillname}}"><i class="far fa-minus-square"></i></a>
                <select name="data.skill1.skillname" value="{{data.skill1.skillname}}" {{#select data.skill1.skillname}} {{#if (eq data.skill1.skillpurchased true)}} disabled {{/if}} />
                {{> 'systems/flames/templates/partials/skill-list.hbs'}}
                {{/select}}</select>
                <a class="increase-skill" data-number="skill1" data-skill="{{data.skill1.skillname}}"><i class="far fa-plus-square"></i></a>
                </div>

                <div class="profession-skill">
                <input type="checkbox" name="data.skill2.skillpurchased" {{checked data.skill2.skillpurchased}} disabled />
                Skill:
                <a class="decrease-skill" data-number="skill2" data-skill="{{data.skill2.skillname}}"><i class="far fa-minus-square"></i></a>
                <select name="data.skill2.skillname" value="{{data.skill2.skillname}}" {{#select data.skill2.skillname}} {{#if (eq data.skill2.skillpurchased true)}} disabled {{/if}}>
                {{> 'systems/flames/templates/partials/skill-list.hbs'}}
                {{/select}}</select>
                <a class="increase-skill" data-number="skill2" data-skill="{{data.skill2.skillname}}"><i class="far fa-plus-square"></i></a>
                </div>

                <div class="profession-skill">
                <input type="checkbox" name="data.skill3.skillpurchased" {{checked data.skill3.skillpurchased}} disabled />
                Skill:
                <a class="decrease-skill" data-number="skill3" data-skill="{{data.skill3.skillname}}"><i class="far fa-minus-square"></i></a>
                <select name="data.skill3.skillname" value="{{data.skill3.skillname}}" {{#select data.skill3.skillname}} {{#if (eq data.skill3.skillpurchased true)}} disabled {{/if}}>
                {{> 'systems/flames/templates/partials/skill-list.hbs'}}
                {{/select}}</select>
                <a class="increase-skill" data-number="skill3" data-skill="{{data.skill3.skillname}}"><i class="far fa-plus-square"></i></a>
                </div>

                <div class="profession-skill">
                <input type="checkbox" name="data.skill4.skillpurchased" {{checked data.skill4.skillpurchased}} disabled />
                Skill:
                <a class="decrease-skill" data-number="skill4" data-skill="{{data.skill4.skillname}}"><i class="far fa-minus-square"></i></a>
                <select name="data.skill4.skillname" value="{{data.skill4.skillname}}" {{#select data.skill4.skillname}} {{#if (eq data.skill4.skillpurchased true)}} disabled {{/if}}>
                {{> 'systems/flames/templates/partials/skill-list.hbs'}}
                {{/select}}</select>
                <a class="increase-skill" data-number="skill4" data-skill="{{data.skill4.skillname}}"><i class="far fa-plus-square"></i></a>
                </div>

                <div class="profession-skill">
                <input type="checkbox" name="data.skill5.skillpurchased" {{checked data.skill5.skillpurchased}} disabled />
                Skill:
                <a class="decrease-skill" data-number="skill5" data-skill="{{data.skill5.skillname}}"><i class="far fa-minus-square"></i></a>
                <select name="data.skill5.skillname" value="{{data.skill5.skillname}}" {{#select data.skill5.skillname}} {{#if (eq data.skill5.skillpurchased true)}} disabled {{/if}}>
                {{> 'systems/flames/templates/partials/skill-list.hbs'}}
                {{/select}}</select>
                <a class="increase-skill" data-number="skill5" data-skill="{{data.skill5.skillname}}"><i class="far fa-plus-square"></i></a>
                </div>

                <div class="profession-skill">
                <input type="checkbox" name="data.skill6.skillpurchased" {{checked data.skill6.skillpurchased}} disabled />
                Skill:
                <a class="decrease-skill" data-number="skill6" data-skill="{{data.data.skill6.skillname}}"><i class="far fa-minus-square"></i></a>
                <select name="data.skill6.skillname" value="{{data.skill6.skillname}}" {{#select data.skill6.skillname}} {{#if (eq data.skill6.skillpurchased true)}} disabled {{/if}}>
                {{> 'systems/flames/templates/partials/skill-list.hbs'}}
                {{/select}}</select>
                <a class="increase-skill" data-number="skill6" data-skill="{{data.skill6.skillname}}"><i class="far fa-plus-square"></i></a>
                </div>

                <div class="profession-skill">
                <input type="checkbox" name="data.skill7.skillpurchased" {{checked data.skill7.skillpurchased}} disabled />
                Skill:
                <a class="decrease-skill" data-number="skill7" data-skill="{{data.skill7.skillname}}"><i class="far fa-minus-square"></i></a>
                <select name="data.skill7.skillname" value="{{data.skill7.skillname}}" {{#select data.skill7.skillname}} {{#if (eq data.skill7.skillpurchased true)}} disabled {{/if}}>
                {{> 'systems/flames/templates/partials/skill-list.hbs'}}
                {{/select}}</select>
                <a class="increase-skill" data-number="skill7" data-skill="{{data.skill7.skillname}}"><i class="far fa-plus-square"></i></a>
                </div>

                <div class="profession-skill">
                <input type="checkbox" name="data.skill8.skillpurchased" {{checked data.skill8.skillpurchased}}  />
                Skill:
                <a class="decrease-skill" data-number="skill8" data-skill="{{data.skill8.skillname}}"><i class="far fa-minus-square"></i></a>
                <select name="data.skill8.skillname" value="{{data.skill8.skillname}}" {{#select data.skill8.skillname}} {{#if (eq data.skill8.skillpurchased true)}} disabled {{/if}}>
                {{> 'systems/flames/templates/partials/skill-list.hbs'}}
                {{/select}}</select>
                <a class="increase-skill" data-number="skill8" data-skill="{{data.skill8.skillname}}"><i class="far fa-plus-square"></i></a>
                </div>

                <div class="profession-skill">
                <input type="checkbox" name="data.skill9.skillpurchased" {{checked data.skill9.skillpurchased}} />
                Skill:
                <a class="decrease-skill" data-number="skill9" data-skill="{{data.skill9.skillname}}"><i class="far fa-minus-square"></i></a>
                <select name="data.skill9.skillname" value="{{data.skill9.skillname}}" {{#select data.skill9.skillname}} {{#if (eq data.skill9.skillpurchased true)}} disabled {{/if}}>
                {{> 'systems/flames/templates/partials/skill-list.hbs'}}
                {{/select}}</select>
                <a class="increase-skill" data-number="skill9" data-skill="{{data.skill9.skillname}}"><i class="far fa-plus-square"></i></a>
                </div>

                <div class="profession-skill">
                <input type="checkbox" name="data.skill10.skillpurchased" {{checked data.skill10.skillpurchased}}  />
                Skill:
                <a class="decrease-skill" data-number="skill10" data-skill="{{data.skill10.skillname}}"><i class="far fa-minus-square"></i></a>
                <select name="data.skill10.skillname" value="{{data.skill10.skillname}}" {{#select data.skill10.skillname}} {{#if (eq data.skill10.skillpurchased true)}} disabled {{/if}}>
                {{> 'systems/flames/templates/partials/skill-list.hbs'}}
                {{/select}}</select>
                <a class="increase-skill" data-number="skill10" data-skill="{{data.skill10.skillname}}"><i class="far fa-plus-square"></i></a>
                </div>
            </div>
        <div class="profession-column">
            <div class="profession-skill">
                <input type="checkbox" name="data.bonus1.bonuspurchased" {{checked data.bonus1.bonuspurchased}} disabled/>
                Bonus:
                <a class="decrease-bonus" data-number="bonus1" data-skill="{{data.bonus1.bonusname}}"><i class="far fa-minus-square"></i></a>
                <select name="data.bonus1.bonusname" value="{{data.bonus1.bonusname}}" {{#select data.bonus1.bonusname}} {{#if (eq data.bonus1.bonuspurchased true)}}disabled {{/if}}>
                {{> 'systems/flames/templates/partials/bonus-list.hbs'}}
                {{/select}}</select>
                <a class="increase-bonus" data-number="bonus1" data-skill="{{data.bonus1.bonusname}}"><i class="far fa-plus-square"></i></a>
                </div>

                <div class="profession-skill">
                <input type="checkbox" name="data.bonus2.bonuspurchased" {{checked data.bonus2.bonuspurchased}} disabled />
                Bonus:
                <a class="decrease-bonus" data-number="bonus2" data-skill="{{data.bonus2.bonusname}}"><i class="far fa-minus-square"></i></a>
                <select name="data.bonus2.bonusname" value="{{data.bonus2.bonusname}}" {{#select data.bonus2.bonusname}} {{#if (eq data.bonus2.bonuspurchased true)}}disabled {{/if}}>
                {{> 'systems/flames/templates/partials/bonus-list.hbs'}}
                {{/select}}</select>
                <a class="increase-bonus" data-number="bonus2" data-skill="{{data.bonus2.bonusname}}"><i class="far fa-plus-square"></i></a>
                </div>
                <div class="profession-skill">
                <input type="checkbox" name="data.bonus3.bonuspurchased" {{checked data.bonus3.bonuspurchased}} disabled />
                Bonus:
                <a class="decrease-bonus" data-number="bonus3" data-skill="{{data.data.bonus3.bonusname}}"><i class="far fa-minus-square"></i></a>
                <select name="data.bonus3.bonusname" value="{{data.bonus3.bonusname}}" {{#select data.bonus3.bonusname}} {{#if (eq data.bonus3.bonuspurchased true)}}disabled {{/if}}>
                {{> 'systems/flames/templates/partials/bonus-list.hbs'}}
                {{/select}}</select>
                <a class="increase-bonus" data-number="bonus3" data-skill="{{data.bonus3.bonusname}}"><i class="far fa-plus-square"></i></a>
                </div>
                <div class="profession-skill">
                <input type="checkbox" name="data.bonus4.bonuspurchased" {{checked data.bonus4.bonuspurchased}} disabled />
                Bonus:
                <a class="decrease-bonus" data-number="bonus4" data-skill="{{data.bonus4.bonusname}}"><i class="far fa-minus-square"></i></a>
                <select name="data.bonus4.bonusname" value="{{data.bonus4.bonusname}}" {{#select data.bonus4.bonusname}} {{#if (eq data.bonus4.bonuspurchased true)}}disabled {{/if}}>
                {{> 'systems/flames/templates/partials/bonus-list.hbs'}}
                {{/select}}</select>
                <a class="increase-bonus" data-number="bonus4" data-skill="{{data.bonus4.bonusname}}"><i class="far fa-plus-square"></i></a>
                </div>
                <div class="profession-skill">
                <input type="checkbox" name="data.bonus5.bonuspurchased" {{checked data.bonus5.bonuspurchased}} disabled />
                Bonus:
                <a class="decrease-bonus" data-number="bonus5" data-skill="{{data.bonus5.bonusname}}"><i class="far fa-minus-square"></i></a>
                <select name="data.bonus5.bonusname" value="{{data.bonus5.bonusname}}" {{#select data.bonus5.bonusname}} {{#if (eq data.bonus5.bonuspurchased true)}}disabled {{/if}}>
                {{> 'systems/flames/templates/partials/bonus-list.hbs'}}
                {{/select}}</select>
                <a class="increase-bonus" data-number="bonus5" data-skill="{{data.bonus5.bonusname}}"><i class="far fa-plus-square"></i></a>
                </div>
                <div class="profession-skill">
                <input type="checkbox" name="data.bonus6.bonuspurchased" {{checked data.bonus6.bonuspurchased}} disabled />
                Bonus:
                <a  class="decrease-bonus" data-number="bonus6" data-skill="{{data.bonus6.bonusname}}"><i class="far fa-minus-square"></i></a>
                <select name="data.bonus6.bonusname" value="{{data.bonus6.bonusname}}" {{#select data.bonus6.bonusname}} {{#if (eq data.bonus6.bonuspurchased true)}}disabled {{/if}}>
                {{> 'systems/flames/templates/partials/bonus-list.hbs'}}
                {{/select}}</select>
                <a class="increase-bonus" data-number="bonus6" data-skill="{{data.bonus6.bonusname}}"><i class="far fa-plus-square"></i></a>
                </div>
                <div class="profession-skill">
                <input type="checkbox" name="data.bonus7.bonuspurchased" {{checked data.bonus7.bonuspurchased}} disabled />
                Bonus:
                <a  class="decrease-bonus" data-number="bonus7" data-skill="{{data.bonus7.bonusname}}"><i class="far fa-minus-square"></i></a>
                <select name="data.bonus7.bonusname" value="{{data.bonus7.bonusname}}" {{#select data.bonus7.bonusname}} {{#if (eq data.bonus7.bonuspurchased true)}}disabled {{/if}}>
                {{> 'systems/flames/templates/partials/bonus-list.hbs'}}
                {{/select}}</select>
                <a class="increase-bonus" data-number="bonus7" data-skill="{{data.bonus7.bonusname}}"><i class="far fa-plus-square"></i></a>
                </div>
                <div class="profession-skill">
                <input type="checkbox" name="data.talent1.talentpurchased" {{checked data.talent1.talentpurchased}} disabled />
                Talent:
                <a  class="delete-talent" data-number="talent1" data-skill="{{data.talent1.talentname}}"><i class="far fa-minus-square"></i></a>
                <input class="long-input" name="data.talent1.talentname" value="{{data.talent1.talentname}}" />
                <a class="increase-talent" data-number="talent1" data-skill="{{data.talent1.talentname}}"><i class="far fa-plus-square"></i></a>
                </div>
                <div class="profession-skill">
                <input type="checkbox" name="data.talent2.bonuspurchased" {{checked data.talent2.talentpurchased}} disabled />
                Talent:
                <a  class="delete-talent" data-number="talent2" data-skill="{{data.talent2.talentname}}"><i class="far fa-minus-square"></i></a>
                <input class="long-input" name="data.talent2.talentname" value="{{data.talent2.talentname}}" />
                <a class="increase-talent" data-number="talent2" data-skill="{{data.talent2.talentname}}"><i class="far fa-plus-square"></i></a>
                </div>
                <div class="profession-skill">
                <input type="checkbox" name="data.talent3.talentpurchased" {{checked data.talent3.talentpurchased}} disabled />
                Talent:
                <a  class="delete-talent" data-number="talent3" data-skill="{{data.talent3.talentname}}"><i class="far fa-minus-square"></i></a>
                <input class="long-input" name="data.talent3.talentname" value="{{data.talent3.talentname}}" />
                <a class="increase-talent" data-number="talent3" data-skill="{{data.talent3.talentname}}"><i class="far fa-plus-square"></i></a>
                </div>
        </div>
        </div>
        <div>Trait: <input type="text" name="data.trait1.name" value="{{data.trait1.name}}"/></div>
        <div>Trait Description: <input type="text" name="data.trait1.description" value="{{data.trait1.description}}"/></div>
        <div>Special Trait: <input type="text" name="data.trait2.name" value="{{data.trait2.name}}"/></div>
        <div>Special Trait Description: <input type="text" name="data.trait2.description" value="{{data.trait2.description}}"/></div>
        <div>Drawback: <input type="text" name="data.drawback1.name" value="{{data.drawback1.name}}"/></div>
        <div>Drawback Description: <input type="text" name="data.drawback1.description" value="{{data.drawback1.description}}"/></div>

    </div>
</div>
