<form class="item-sheet {{cssClass}}" autocomplete="off">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h3 id="Name" class="charname">Name <input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h3>
<div class="main-tab">
   <div>
       <div>Principle: <select name="data.principle" value="{{data.principle}}">{{#select data.principle}}<option value="petty">Petty</option><option value="petty">Lesser</option><option value="petty">Greater</option>{{/select}}</select></div>
        <div>Description: <input type="textarea" name="data.description" value="{{data.description}}" /></div>
        <div>Reagents: <input type="text" name="data.reagents" value="{{data.reagents}}" /></div>
        <div>Distance: <input type="text" name="data.distance" value="{{data.distance}}" /></div>
        <div>Duration: <input type="text" name="data.duration" value="{{data.duration}}" /></div>
        <div>Critical Success Effect: <input type="text" name="data.criticalsuccess" value="{{data.criticalsuccess}}" /></div>
        <div>Critical Failure Effect: <input type="text" name="data.criticalfailure" value="{{data.criticalfailure}}" /></div>

    </div>
</form>
