<form class="item-sheet {{cssClass}}" autocomplete="off">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h3 id="Name" class="charname">Name <input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h3>
<div>
    <div>Source<select name="data.source" value="{{data.source}}" />{{#select data.source}}<option value="Ancestry">Ancestry</option><option value="Profession">Profession</option>{{/select}}</select></div>
    <div class="editor-row">Description: {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}</div>
    </div>
</form>