<div class="flames tracker-container">
  {{!-- <div id="tracker-clickable" class="tracker-clickable">
    <i id="tracker-clickable-plus" class="fas fa-plus hide"></i>
    <i id="tracker-clickable-minus" class="fas fa-minus"></i>
  </div> --}}
  <div id="flames-fortune-tracker" class="flames tracker fortune">
    <div class="button-group">
      <div id="flames-fortune-track-increase" class="button increase flames-impermitable">
        <i class="fas fa-plus"></i>
      </div>
      <div>
        <input type="text" class="input" id="flames-track-fortune" data-dtype="Number" readonly/>
      </div>
      <div id="flames-fortune-track-decrease" class="button decrease flames-impermitable">
        <i class="fas fa-minus"></i>
      </div>
    </div>
    <div class="header">
      Fortune
    </div>
  </div>
  <div id="flames-misfortune-tracker" class="flames tracker misfortune">
    <div class="button-group">
      <div id="flames-misfortune-track-increase" class="button increase flames-impermitable">
        <i class="fas fa-plus"></i>
      </div>
      <div>
        <input type="text" class="input" id="flames-track-misfortune" data-dtype="Number" readonly/>
      </div>
      <div id="flames-misfortune-track-decrease" class="button decrease flames-impermitable">
        <i class="fas fa-minus"></i>
      </div>
    </div>
    <div class="header">
      Misfortune
    </div>
  </div>
</div>