<form class="item-sheet {{cssClass}}" autocomplete="off">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h3 id="Name" class="charname">Name <input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h3>
<div class="main-tab">
    <div>Damage:<input class="short-input" type="number" name="data.damage" value="{{data.damage}}" /></div>
    <div>Encumbrance:<input class="short-input" type="number" name="data.encumbrance" value="{{data.encumbrance}}" /></div>
    <div>Skill: <select name="data.skill" value="{{data.skill}}">
      {{#select data.skill}}
        <option value="martialmelee">Martial Melee</option>
        <option value="martialranged">Martial Ranged</option>
        <option value="simplemelee">Simple Melee</option>
        <option value="simpleranged">Simple Ranged</option>
        <option value="invocation">Invocation</option>
      {{/select}}</select></div>
    <div>Qualities: <input type="text" name="data.qualities" value="{{data.qualities}}" /></div>
    <div>Damage Bonus:<select name="data.damagebonus" value="{{data.damagebonus}}">{{#select data.damagebonus}}
        <option value="agilitybonus">Agility</option>
        <option value="brawnbonus">Brawn</option>
        <option value="combatbonus">Combat</option>
        <option value="combatbonus">Willpower</option>
        {{/select}}</select></div>
    </div>
</form>
